@import '/node_modules/bootstrap/scss/bootstrap.scss';
.logoNav{
    height: 5rem;
}
#btMenu{
    margin: 0rem 5rem;
    width: 11rem;
    height: 2.5rem;
}
@media(max-width:680px) {
    .logoNav{
        height: 2rem;
    }
    #btMenu{ 
        margin: 0.2rem;
        width: 8rem;
        height: 3rem;
        font-size: 0.7rem;
    }
}

#RetornoCadastro{
    color: rgb(139, 0, 30); 
    font-weight: bold;
    text-align: center;
}

#Error .modal-title{
    color: rgba(245, 5, 5, 0.719); 
    font-weight: bold;
    text-align: center;
}

#Error .modal-body{
    color: rgba(41, 32, 165, 0.678); 
    font-weight: bold;
    text-align: center;
}